.box {
    width: 340px;
    height: 340px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 0;
}

#wrapper_accueil {
    max-width: 973px;
}

.espace_titre {
    width: 100%;
}

img {
    width: 80%;
    height: auto;
}
.margin_titre {
    margin: 50px 50px 100px 50px;
}
h2 {
    font-size: 2em;
    text-align: center;
}