body {
    background: black;
}

#wrapper_cuisine {
    min-width: 95%;
    height: 90%;
    margin : 10px 40px 10px 40px;
    justify-content: center;
    text-align: center;
}

.commande {
    display: inline-block;
    width: 20%;
    height: 400px;
    margin: 10px 30px;
    background-color: grey;
    border: #f00 1px solid;
}

div .num_com {
    width: 100%;
    height: 10%;
    background: dimgray;
    border-bottom: #f00 1px solid;
}

div .composition_com {
    width: 100%;
    height: 80%;
    background: grey;
    border-bottom: #f00 1px solid;
}

div .composition_com button {
    width: 100%;
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    text-align: left;
    margin: 0 0 5% 0;
}

.ingredient {
    width: 100%;
    font-size: 15px;
    color: white;
    border: none;
    align-content: center;
}

div.composition_com button:last-child {
    margin: 0 0 5% 0;
}
div.composition_com button:first-child {
    margin: 0 0 5% 0;
    padding-top: 2%;
}

div .temps_com {
    color: white;
    width: 100%;
    height: 9.5%;
    background: dimgray;
    justify-content: center;
    text-align: center;
}

div .temps_com p  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    color: white;
    background: transparent;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
div .num_com p {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    color: white;
    background: transparent;
    align-content: center;
    text-align: center;
    font-size: 20px;
}

.bouton {
    height: 30px;
    text-align: center;
    background-color: transparent;
}

.boutonRecette {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
}

.boutonsPrincipaux{
    width: 10%;
    height: 30px;
    margin: 0 2%;
    text-align: center;
    background-color: dimgray;
    color: white;
}
.focus {
    border: 3px solid #f00;
    border-bottom: 3px solid #f00;
}

.hidden {
    display: none;
}

.box_sans_bordure {
    width: 700px;
    height: 150px;
    border: none;
    margin-top: 0;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

