table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    font-size: .90em;
    text-align: center;
    vertical-align: middle;
}

table th {
    font-size: 1em;
    letter-spacing: .01em;
    font-weight: bold;
    background-color: #ECE9E9;
}

@media screen and (max-width: 780px) {
    table th {
        font-size: .80em;
        letter-spacing: .01em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
        font-size: .75em;
    }

}


@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.loupe {
    padding : 12px 5px 0 0;
}

#recherche {
    display: flex;
    height: 25px;
    width: 20%;
    border : none;
    margin : 0 0 10px 0;
    border-radius: 10;
    background-color: #fff5e3;
}

#recherche:hover {
    color: #000;
    background-color: white;
}


#wrapper {
    margin: 5px;
    max-width: 950px;
}

#myTable {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 900px;
    height: auto;
    background-color: #f2f2f2;
    margin: 25px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
}

.img {
    width: 70px;
    height: auto;
    padding: 0px;
    background-position: 100px;
}
