#boxs {
    gap: 25px;
}

/*#boxs>* {
    flex: 1;
}*/

#boxs>#informations_generales {
    flex: 2;
}

#boxs>#composition {
    flex: 5;
}

#informations_generales .box_contenu .form-input img {
    width: 100% - 20px;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 10px 10px 10px;
}

#informations_generales .box_contenu i {
    font-size: small;
}

#tableau_composition tbody tr td li {
    text-align: start;
    white-space: nowrap;
}

#tableau_composition tbody tr td:last-child {
    width: 0;
    white-space: nowrap;
}

#tableau_composition tbody td input+span {
    margin-left: 10px;
    text-align: left;
}

#tableau_composition tfoot td>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tableau_composition tfoot td>div>div {
    flex: 1;
}

#tableau_composition tfoot td>div>div:first-child {
    text-align: left;
}

#tableau_composition tfoot td>div>div:last-child {
    text-align: right;
}

#select_ajouter_ingredient {
    min-width: 200px;
}

#boutons {
    gap: 25px;
}