#wrapper_burger {
    margin: auto;
    align-items: center;
}
h1 {
    width: 30%;
}

.titre_souligne {
    font-size: 2em;
}
h2 {
    text-align: center;
    font-size: 3em;
}

.image {
    margin: 0 auto 0 auto;
    align-content: center;
    width: 50%;
    height: 50%;
}
img {
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.ingredients {
    width: 50%;
    font-size: 1.5em;
    text-align: center;
}
.ingredients p {

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}
