#menu_gauche
{
    background-color: #f1f0f0;
}

.box_graphe {
    margin : 20px 0 20px 10px;
}

.graphe_choix {
    margin : 12px 0 12px 30px;
}

.graphe_choix a {
    padding: 5px;
}

.selected {
    background-color: #7e7d7a;
    color: #fff;
}

#boutons_graphe {
    margin: auto auto 10px auto;
}

#boutons_graphe a {
    margin: 0 5px 0 5px;
    padding: 5px;
}

