#menu_gauche
{
    background-color: #f1f0f0;
}

.box_graphe {
    margin : 20px 25px 20px 25px;
    display : flex;
    flex-direction: column;
}

.box_graphe h3 {
    margin: 0 0 10px 0;
}

.graphe_choix {
    display: block;
    margin : 2px 0;
    padding : 5px 7px;
    background-color: #f1f0f0;
    color: black;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.graphe_choix p {
    text-align: start;
}

.graphe_choix:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.graphe_choix:hover {
    /* Rendre la couleur plus foncée */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.selected {
    background-color: #7e7d7a;
    color: #fff;
}

#boutons_graphe {
    margin: auto auto 10px auto;
}

#boutons_graphe a {
    margin: 0 5px 0 5px;
    padding: 5px;
}

#add_graphe:hover {
    background-color: #9fe593;
    color: #fff;
}

#save_graphe:hover {
    background-color: #6065f6;
    color: #fff;
}

#cancel_graphe:hover {
    background-color: #fb7070;
    color: #fff;
}

#delete_graphe:hover {
    background-color: #fb7070;
    color: #fff;
}



