/*--- INFORMATIONS ---*/
/*
Approche : mobile last (pas le temps de procéder à du mobile first)
*/


@charset "utf-8";

/* IMPORTS */

/* CSS Document */

/*--- RESET ---*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*--- FIN RESET ---*/

/* --- VARIABLES --- */
:root {
    /* Couleur primaire */
    --primaire: #fff2cc;
    /* Couleur secondaire */
    --secondaire: #EB9900;
    /* Couleur tertiaire */
    --tertiaire: #EB3B00;
    /* Couleur quaternaire */
    --quaternaire: #EB59B3;
    /* Couleur quinnaire */
    --quinnaire: #6100F0;
}

/* --- FIN VARIABLES --- */

/*--- CLASSES GENERIQUES ---*/

.wrapper_colonne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.wrapper_colonne_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.wrapper_ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.wrapper_ligne_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.center_items_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.center_items_vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.background_primaire {
    background-color: var(--primaire);
}

.background_secondaire {
    background-color: var(--secondaire);
}

.background_tertiaire {
    background-color: var(--tertiaire);
}

.background_quaternaire {
    background-color: var(--quaternaire);
}

.color_primaire {
    color: var(--primaire);
}

.color_secondaire {
    color: var(--secondaire);
}

.color_tertiaire {
    color: var(--tertiaire);
}

.color_quaternaire {
    color: var(--quaternaire);
}

.bold {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

/*--- FIN CLASSES GENERIQUES ---*/

/*--- CSS GLOBAL ---*/

body {
    font-family: 'Roboto', sans-serif;
}

/*--- FIN CSS GLOBAL ---*/

/*--- HEADER - NAVIGATION ---*/

.header_client_transparent {
    background-color: none;
    transition: background-color 0.3s ease-out;
}

.header_client,
.header_client_transparent:hover {
    background-color: var(--primaire);
    transition: background-color 0.3s ease-out;
}

.header_sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header_float {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav_client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
}

.nav_client ul:first-child {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav_client ul:last-child {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

header li a {
    color: var(--tertiaire);
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    transition: background-color 0.20s ease-out;
    border-radius: 10px;
}

.header_nav_background_anim:hover {
    /* Pour l'effet de changement de couleur */
    background-color: #ccc;
}

.header_icone {
    color: black;
}

#header_logo {
    width: 75px;
    height: auto;
    position: relative;
    transform: translateY(20%);
    /* Pour l'effet de logo qui déborde du header */
}

/*--- FIN HEADER - NAVIGATION ---*/

/*--- FOOTER ---*/

footer {
    background-color: #363636;
    padding: 15px 10px 15px 10px;
    color: var(--tertiaire);
    display: flex;
    flex-direction: column;
}

#footer_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#footer_top img {
    width: 100px;
    height: auto;
}

.footer_information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#footer_mid {
    margin: 10px auto 0 auto;
}

#footer_bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 98%;
}

/*--- FIN FOOTER ---*/

/*--- CONTENU AVEC TITRE ---*/
.titre {
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
    /*
    color: var(--quinnaire);
    background-color: var(--primaire);
    */
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 20px;
    width: 500px;
}

/*--- FIN CONTENU AVEC TITRE ---*/

/*--- BOX ---*/
.box {
    /* background-color: var(--primaire); */
    background-color: #f5f5f5;
    border-radius: 5px;
}

.box_titre {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    /* 
    color: var(--primaire);
    background-color: var(--tertiaire);
    */
    background-color: #999999;
    border-radius: 5px;
    padding: 20px;
}

.box_contenu {
    text-align: center;
    padding: 20px;
}

/*--- FIN BOX ---*/

/*--- ONGLETS ---*/
.onglets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.onglet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.20s ease-out;
}

.onglet:hover {
    background-color: #ccc;
}

.onglet_actif {
    background-color: #ccc;
}

/*--- FIN ONGLETS ---*/

/*--- FORMULAIRE ---*/
.form-input {
    display: flex;
    flex-direction: column;
}

.form-input>label {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.form-input>input,
.form-input>textarea {
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form-input>input:invalid,
.form-input>textarea:invalid {
    border: 2px solid red;
}

/*
.form-input>input:valid,
.form-input>textarea:valid {
    border: 2px solid green;
}
*/

.form-input>input:focus,
.form-input>textarea:focus {
    outline: none;
}

.form-input+.form-input {
    margin-top: 15px;
}

.form-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

/*--- FIN FORMULAIRE ---*/

/*--- BOUTON ---*/
button.bouton {
    background-color: #e6e6e6;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

/*
button.bouton.bouton_primaire {
    background-color: var(--primaire);
    color: var(--quinnaire);
}
*/

button.bouton:hover {
    background-color: #999999;
}

/*--- FIN BOUTON ---*/

/*--- TABLEAU ---*/
table.tableau {
    width: 100%;
}

table.tableau tr {
    background-color: #f5f5f5;
    color: black;
    border-radius: 5px;
}

table.tableau > thead {
    font-weight: bold;
    margin-bottom: 10px;
}

table.tableau > tfoot {
    font-weight: bold;
    margin-top: 10px;
}

/*--- FIN TABLEAU ---*/