@charset "utf-8";

/*************************************************************************************
************************************ INFORMATIONS ************************************
**************************************************************************************/
/* 
- Approche : mobile last (pas le temps de procéder à du mobile first) 
- Feuille de style principale pour ce qui va concerner les classes génériques
- Utilisation de variables pour faciliter la maintenabilité et les modifications du code
- Utilisation de beaucoup de classes pour la maintenabilité et la lisibilité du code
*/

/*************************************************************************************
************************************* VARIABLES **************************************
**************************************************************************************/
:root {
    /* Couleurs */
    --primaire: #fff2cc;
    --secondaire: #EB9900;
    --tertiaire: #EB3B00;
    --quaternaire: #EB59B3;
    --quinnaire: #6100F0;
    --senaire: #e6e6e6;

    /* Tailles */
    --taille_titre: 1.75em;
    --taille_sous_titre: 1.5em;
    --taille_texte: 1em;
    --taille_texte_petit: 0.75em;
    --taille_texte_tres_petit: 0.5em;

    /* Espacements */
    --espacement_extreme_large: 100px;
    --espacement_very_large: 50px;
    --espacement_large: 30px;
    --espacement_moyen: 10px;
    --espacement_petit: 5px;
}

/*************************************************************************************
********************************* STYLE PAR DÉFAUT ***********************************
**************************************************************************************/

html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*************************************************************************************
******************************** CLASSES GÉNÉRIQUES **********************************
**************************************************************************************/

/************************************ WRAPPERS ***************************************/

/* Lien openclassroom : https://openclassrooms.com/fr/courses/1603881-creez-votre-site-web-avec-html5-et-css3/8061384-faites-votre-mise-en-page-avec-flexbox */

.wrapper {
    display: flex;
}

.axe_ligne {
    flex-direction: row;
}

.axe_colonne {
    flex-direction: column;
}

.main_axe_center {
    justify-content: center;
}

.main_axe_space_between {
    justify-content: space-between;
}

.main_axe_space_around {
    justify-content: space-around;
}

.main_axe_space_evenly {
    justify-content: space-evenly;
}

.main_axe_flex_start {
    justify-content: flex-start;
}

.main_axe_flex_end {
    justify-content: flex-end;
}

.second_axe_center {
    align-items: center;
}

.second_axe_flex_start {
    align-items: flex-start;
}

.second_axe_flex_end {
    align-items: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.gap_moyen {
    gap: var(--espacement_moyen);
}

.gap_petit {
    gap: var(--espacement_petit);
}

.gap_top_bottom_moyen {
    gap: var(--espacement_moyen) 0;
}

.gap_top_bottom_petit {
    gap: var(--espacement_petit) 0;
}

.gap_left_right_moyen {
    gap: 0 var(--espacement_moyen);
}

.gap_left_right_petit {
    gap: 0 var(--espacement_petit);
}

.hidding {
    display: none;
}

/******************************** MARGIN - PADDING ***********************************/
.margin_extreme_large {
    margin: var(--espacement_extreme_large);
}

.margin_very_large {
    margin: var(--espacement_very_large);
}

.margin_large {
    margin: var(--espacement_large);
}

.margin_moyen {
    margin: var(--espacement_moyen);
}

.margin_petit {
    margin: var(--espacement_petit);
}

.margin_bottom_top_large {
    margin: var(--espacement_large) 0;
}

.margin_bottom_top_moyen {
    margin: var(--espacement_moyen) 0;
}

.margin_bottom_top_petit {
    margin: var(--espacement_petit) 0;
}

.margin_left_right_extreme_large {
    margin: 0 var(--espacement_extreme_large);
}

.margin_left_right_large {
    margin: 0 var(--espacement_large);
}

.margin_left_right_moyen {
    margin: 0 var(--espacement_moyen);
}

.margin_left_right_petit {
    margin: 0 var(--espacement_petit);
}

.padding_large {
    padding: var(--espacement_large);
}

.padding_moyen {
    padding: var(--espacement_moyen);
}

.padding_petit {
    padding: var(--espacement_petit);
}

.padding_bottom_top_large {
    padding: var(--espacement_large) 0;
}

.padding_bottom_top_moyen {
    padding: var(--espacement_moyen) 0;
}

.padding_bottom_top_petit {
    padding: var(--espacement_petit) 0;
}

.padding_left_right_large {
    padding: 0 var(--espacement_large);
}

.padding_left_right_moyen {
    padding: 0 var(--espacement_moyen);
}

.padding_left_right_petit {
    padding: 0 var(--espacement_petit);
}

.margin_auto {
    margin: auto;
}

.margin_left_right_auto {
    margin: 0 auto;
}

.margin_bottom_top_auto {
    margin: auto 0;
}

.padding_default {
    padding: 0 var(--espacement_extreme_large);
    padding-bottom: var(--espacement_large);
}

@media screen and (max-width: 740px) {
    .padding_default {
        padding: 0 var(--espacement_large);
        padding-bottom: var(--espacement_large);
    }
}

@media screen and (max-width: 480px) {
    .padding_default {
        padding: 0 var(--espacement_moyen);
        padding-bottom: var(--espacement_large);
    }
}

/******************************** WIDTH - HEIGHT ***********************************/

.width_100 {
    width: 100%;
}

.width_80 {
    width: 80%;
}

.width_75 {
    width: 75%;
}

.width_50 {
    width: 50%;
}

.width_25 {
    width: 25%;
}

.height_100 {
    height: 100%;
}

.height_50 {
    height: 50%;
}

.height_25 {
    height: 25%;
}

.width_auto {
    width: auto;
}

.height_auto {
    height: auto;
}

/******************************** FONTS / COULEURS ***********************************/
.roboto {
    font-family: 'Roboto', sans-serif;
}

/*-- Couleurs --*/
.color_primaire {
    color: var(--primaire);
}

.color_secondaire {
    color: var(--secondaire);
}

.color_tertiaire {
    color: var(--tertiaire);
}

.color_quaternaire {
    color: var(--quaternaire);
}

.color_quinnaire {
    color: var(--quinnaire);
}

.background_primaire {
    background-color: var(--primaire);
}

.background_secondaire {
    background-color: var(--secondaire);
}

.background_tertiaire {
    background-color: var(--tertiaire);
}

.background_quaternaire {
    background-color: var(--quaternaire);
}

.background_quinnaire {
    background-color: var(--quinnaire);
}

.background_senaire {
    background-color: var(--senaire);
}

/*-- Tailles et formes --*/

.font_size_very_large {
    font-size: var(--taille_titre);
}

.font_size_large {
    font-size: var(--taille_sous_titre);
}

.font_size_moyen {
    font-size: var(--taille_texte);
}

.font_size_petit {
    font-size: var(--taille_texte_petit);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/*************************************************************************************
************************************** TITRES ****************************************
**************************************************************************************/

/********************************* TITRE "BULLE" *************************************/
.titre_bulle {
    font-weight: bold;
    font-size: var(--taille_titre);
    text-align: center;
    margin: var(--espacement_large) auto;
    background-color: var(--senaire);
    border-radius: 10px;
    padding: 30px 20px;
    width: 500px;
}

/********************************* TITRE "BARRE" *************************************/

.titre_souligne {
    font-weight: bold;
    font-size: var(--taille_titre);
    text-align: center;
    border-bottom: 1px solid black;
    margin: var(--espacement_large) 0;
    padding: 0 var(--espacement_large) var(--espacement_moyen);
}


/*************************************************************************************
************************************ FORMULAIRE **************************************
**************************************************************************************/
.form-input {
    display: flex;
    flex-direction: column;
}

.form-input>label {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
}

/* Champs de saisie */
.form-input>input,
.form-input>textarea,
.form-input>select,
.input,
.textarea,
.select {
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.form-input>textarea,
.textarea {
    resize: vertical;
    min-height: 100px;
}

.form-input>input:invalid,
.form-input>textarea:invalid,
.form-input>select:invalid,
input:invalid,
textarea:invalid,
select:invalid {
    border: 2px solid red;
}

.form-input>input:focus,
.form-input>textarea:focus,
.form-input>select:focus,
.input:focus,
.textarea:focus,
.select:focus {
    outline: none;
}

.form-input>input:disabled,
.form-input>textarea:disabled,
.form-input>select:disabled,
.input:disabled,
.textarea:disabled,
.select:disabled {
    cursor: not-allowed;
    background-color: #f5f5f5;
}

/* Bouton radio */
.form-input>input[type="radio"],
.form-input>input[type="checkbox"],
input[type="radio"].input,
input[type="checkbox"].input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.form-input+.form-input {
    margin-top: 15px;
}

.form-action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

/****************************** Bibliothèque : Select2 ******************************/
/* Thème personnalisé pour Select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    line-height: 1.1;
    text-align: left;
    font-weight: normal;
    padding-left: 0;
    font-size: 0.85em;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: black;
}

.select2-container .select2-selection--single {
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: auto;
    background-color: white;
}

.select2-container .select2-selection--single .select2-selection__arrow,
.select2-container .select2-selection--single .select2-selection__clear {
    height: 100%;
    width: 25px;
    color: #888888;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: not-allowed;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow {
    cursor: not-allowed;
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
}

.select2-container--default .select2-selection--single:disabled {
    opacity: 0.6;
    pointer-events: none;
}

.select2-container--default .select2-selection--multiple {
    display: block;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: auto;
    background-color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ccc;
    color: #333;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
}

.select2-container--default .select2-results__option--highlighted {
    background-color: #ddd;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #ccc;
}

.select2-container--default .select2-results__option[aria-disabled="true"] {
    opacity: 0.6;
    pointer-events: none;
}

.select2-container--default .select2-results__option[aria-selected="true"][aria-disabled="true"] {
    background-color: #eee;
}

/*************************************************************************************
************************************** BOUTON ****************************************
**************************************************************************************/

/******************************* BOUTON VALIDATION ***********************************/
.bouton {
    background-color: #e6e6e6;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

/*
.bouton.bouton_primaire {
    background-color: var(--primaire);
    color: var(--quinnaire);
}
*/

.bouton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.bouton:hover {
    /* Rendre la couleur plus foncée */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

/*************************************************************************************
************************************** ONGLETS ***************************************
**************************************************************************************/
.onglets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.onglet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.20s ease-out;
}

.onglet:hover {
    background-color: #ccc;
}

.onglet_actif {
    background-color: #ccc;
}

/*************************************************************************************
**************************************** BOX *****************************************
**************************************************************************************/
.box {
    /* background-color: var(--primaire); */
    background-color: #f5f5f5;
    border-radius: 5px;
}

.box_titre {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    /*
    color: var(--primaire);
    background-color: var(--tertiaire);
    */
    background-color: #999999;
    border-radius: 5px;
    padding: 20px;
}

.box_contenu {
    text-align: center;
    padding: 20px;
}

/*************************************************************************************
************************************** TABLEAU ***************************************
**************************************************************************************/
.tableau {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: -10px 0;
}

.tableau tr {
    background-color: #e6e6e6;
    color: black;
}

.tableau td,
.tableau th {
    text-align: center;
    vertical-align: middle;
}

.tableau td {
    padding: 5px;
}

.tableau th {
    padding: 20px 5px;
}

/* Bordure arrondie pour chaque ligne */
.tableau td:first-child,
.tableau th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tableau td:last-child,
.tableau th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tableau>thead {
    font-weight: bold;
}

.tableau>tfoot {
    font-weight: bold;
}

.tableau .bouton {
    padding: 10px;
}

.tableau img {
    max-width: 60px;
    max-height: 60px;
}

.delimitation_trait {
    border: 0.1pt solid #e5e3e3;
    width: 80%;
    margin: 15px auto;
}