h1 {
  display: inline-block;
  width: auto;
}
h2 {
  padding: 4px;
  text-decoration: underline;
  font-size: 30px;
}

button {
  color: #FFD966;
  background-color: #FF6666;
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}

/*-----------ID------------*/
#titlePage {
  text-align: center;
  background-color: aliceblue;
  padding: 70px;
}

/*--------------*/
#affichage {
  width: 1000px;
  margin: auto;
}

#affichage div {
  height: auto;
}

#affichage .centre {
  width: 37.75%;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  height: min-content;
}

#affichage .centre img {
  height: 100%;
  margin-bottom: auto;
}

#affichage .fleche {
  width: 15%;
}

#affichage .fleche img {
  width: 100%;
}

#affichage .txt {
  width: 16.25%;
}

/*à modifier le margin, j'aimerais un margin-auto qui fonctionne*/
#affichage .txt p {
  margin-top: auto;
  text-align: center;
}

#affichage .vide {
  width: 15.625%;
  /*(#affichage .txt p{width }) + (#affichage .fleche p{width })/2*/
}

/*-------------------------------*/
#modifier {
  margin: 60px 500px 20px;
}

#Paiement button {
  color: #FFD966;
  background-color: #FF6666;
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  font-size: 10px;
}

#tbodyMod tr {
  height: 80px;
}

#tbodyMod input {
  width: auto;
}

#bouton_ajouter_supplement {
  width: 100%;
}

#title{
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
#descriptif{
  width:60%;
  margin: auto;
}

/*---------Class------------*/


.zoneTxtGris {
  background-color: #F5F5F5;
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  border-style: hidden;
}

button {
  color: #FFD966;
  background-color: #FF6666;
  border: 0px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  font-size: 10px;

}

.boutonRetirer {
  width: 120px;
}

.boutonRemettre {
  width: 120px;
}

.animation-grow:hover {
  transform: scale(1.1);
}