.header_client_transparent {
    background-color: none;
    transition: background-color 0.3s ease-out;
}

.header_client,
.header_client_transparent:hover {
    background-color: var(--primaire);
    transition: background-color 0.3s ease-out;
    border-bottom: 1px solid var(--senaire);
}

.header_sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header_float {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav_client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
}

.nav_client ul:first-child {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.nav_client ul:last-child {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

header li a {
    color: var(--tertiaire);
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    transition: background-color 0.20s ease-out;
    border-radius: 10px;
}

.header_nav_background_anim:hover {
    /* Pour l'effet de changement de couleur */
    background-color: #ccc;
}

.header_icone {
    color: black;
}

#header_logo {
    width: 100px;
    height: auto;
    position: relative;
    /* Effet de logo qui déborde du header */
    transform: translateY(33%);
    margin-top: -30px;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: aliceblue;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px
}

.navbar .nav-links ul li.active a {
    color: red;
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .nav-links {
        display: none;
    }

    .header_nav_background_anim {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #header_logo {
        width: 50px;
        /* Effet de logo qui déborde du header */
        transform: translateY(43%);
        margin-top: -20px;
    }

    .header_icone {
        font-size: 1em;
    }

    header li a {
        padding: 5px;
    }
}